.promotions {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    margin-top: 6%;
    margin-bottom: 6%;
}

/* Cartes promos */

.promo-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 35%;
}

.promo-image:hover {
    transform: scale(1.05);
}

/* Image des promos */

.promo-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

/* Texte des promos */

.promo-text {
    padding: 15px;
    flex: 1;
}

.promo-text h3 {
    color: #328f7b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.promo-text h2 {
    font-size: 18px;
    margin: 5px 0;
}

.promo-text p {
    font-size: 14px;
}

.promo-price {
    color: #328f7b;
    font-weight: bold;
}

/* Liste des livres */

.gridTitle {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
}

.gridTitle2 {
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    font-size: 3em;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    padding: 20px;
    background-color: #f0f0f0;
    gap: 25px;
}

.book-link {
    text-decoration: none;
    color: black;
}

.book-card {
    text-align: center;
    padding: 0px 10px;
    background-color: white;
    color: black;
    width: 70%;
    height: 375px;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.5);
    margin: auto;
}

.book-card img {
    width: 70%;
    height: 250px;
    object-fit: cover;
}

/* "Load More" */

.load-more {
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
}

.load-more button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Newsletter */

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 30px;
    text-align: center;
    color: #333;
    gap: 20px;
}

.newsletter input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}