.navbar {
    padding: 15px;
    background-color: white;
    color: #333;
    display: flex;
    gap: 850px;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.2em;
    max-width: 100%;
}

.navbar a {
    color: #333;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 15px;
}
