@font-face {
  font-family: FinalFont;
  src: url(../fonts/Prata-Regular.ttf);
}

* {
  font-family: 'FinalFont';
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}